{% extends "tracker/base.html" %}
{% block body %}
	<h2>{{ title }}</h2>
	<form action="" method="post">{% csrf_token %}
    	{{ form.as_p }}
    	<input type="submit" value="Save" />
	</form>
{% endblock %}