{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{% static 'css/tracker.css' %}">
        {% endblock head %}
    </head>
    <body>
        {% block body %}
            <h2>{{ title }}</h2>
            <ul class="navigation">
            {% for link in navigation %}
                <li><a href="{% url link %}">{{ link }}</a></li>
            {% endfor %}
            </ul>
        {% endblock body %}
        {% block tail %}
        {% endblock tail %}
        {% if title != 'Navigation' %}
        <a href="{% url 'index' %}">Back to index</a>
        {% endif %}
    </body>
</html>