{% extends 'tracker/base.html' %}

{% block body %}
    <h2>{{ title }}</h2>
    <table>
    {% for name, value in object_iter %}
    <tr>
        <td>{{ name }}</td><td>{{ value }}</td>
    </tr>
    {% endfor %}
    </table>
    {% if has_status %}
        <form action "{{ request.path  }}" method="post">
        {% csrf_token %}
        {% if object.completed == False %}
            <input type="submit" value="Mark as completed" />
        {% else %}
            <input type="submit" value="Mark as incomplete" />
        {% endif %}
        <br><br>
        </form>
    {% endif %}
    <a href="{{ request.path }}delete/">Delete</a>
{% endblock %}
{% block tail %}
    <a href="{% url return_target %}">Back to {{ return_target }}</a>
{% endblock %}