{% extends 'tracker/base.html' %}

{% block body %}
	<h2>{{ title }}</h2>
	<ul>
	{% for dev in object_list %}
    	<li>{{ dev.first_name }} {{ dev.last_name }}</li>
	{% empty %}
    	<li>No developers.</li>
	{% endfor %}
	</ul>
	<a href="{% url 'adddeveloper' %}">Add</a>
{% endblock %}