{% extends "tracker/base.html" %}

{% block body %}
    <h2>{{ title }}</h2>
    <table>
        <tr>
        {% for col in field_names %}
            <th>{{ col }}</th>
        {% endfor %}
        </tr>
        {% if not data_list %}
        <h2>No data found.</h2>
        {% else %}
            {% for row in data_list %}
                <tr>
                {% for col, link in row %}
                    {% if link.0 %}
                        <td><a href="{% url link.0 link.1 %}" class="intable">{{ col }}</a></td>
                    {% else %}
                        <td>{{ col }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table><br>
    {% for target, name in add_url %}
    <a href="{% url target %}">{{ name }}</a>
    {% endfor %}
{% endblock %}