{% extends 'tracker/base.html' %}

{% block body %}
	<h2>Stories list</h2>
	<table>
		<tr>
		{% for col in stories_fields %}
			<th>{{ col }}</th>
		{% endfor %}
		</tr>
		{% for story in stories_list %}
			<tr>
			{% for col, link in story %}
				{% if link %}
					<td><a href='{% url 'story' story.0.0 %}'>{{ col }}</a></td>
				{% else %}
					<td>{{ col }}</td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
{% endblock %}