:root {
    --bg-color: #4FA15D;
    --text-bg: #80C28C;
    --text-color: #00400B;
    --button-color: #0F611D;
    --button-width: 15ch;
    --font-size: 16px;
}
a.intable:link, a.intable:visited {
    background: var(--bg-color);
    font-weight: normal;
}
a:link, a:visited {
    background: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em;
    text-decoration: none;
    text-align: center;
    width: var(--button-width);
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: arial;
    font-size: var(--font-size);
}
form {
    font-size: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
input {
    background: var(--text-bg);    
    border: none;
    color: var(--text-color);
    display: block;
    font: inherit;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
input[type=submit] {
    background: var(--button-color);    
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.2em;
    text-align: center;
    width: var(--button-width);
}
input[type=checkbox] {
    display: inline;
    vertical-align: middle;
}
p {
    margin: 0.2em;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
td {
    padding-right: 1em;
}
textarea {
    background: var(--text-bg);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    margin-left: 50;
    margin-right: 50;
    padding: 0;
    min-width: 100px;
    max-width: 400px;
}
ul.navigation {
    margin-left: auto;
    margin-right: auto;
}
ul li {
    text-align: center;
    padding: 0.1em;
    margin-top: 5px;
    margin-bottom: 5px;
}